/* Font, welcher benutzt wird */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E24;
    color: #ffffff;
}

.navbar a {
    float: left;
    color: #333333;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #202020;
    color: #ffffff;
}

.navbar a.active {
    background-color: #DF9B6D;
    color: #202020;
}

.navbar {
    z-index: 3;
    background-color: #EFC69B;
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
}

nav {
    float: left;
    margin: 0;
    text-align: center;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav>ul>li>a {
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.logo {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}

iframe {
    padding-top: 3%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
}

.introduction {
    position: absolute;
    top: 115%;
    left: 25%;
    width: 50vw;
    display: inline-block;
}

.intro_paragraph {
    font-size: 24px;
    word-wrap: break-word;
    z-index: 3;
}

.main_img {
    max-width: 100%;
    width: 15%;
    height: auto;
    float: right;
    position: absolute;
    top: 10%;
    z-index: 1;
}

button {
    pointer-events: fill;
    border: none;
    color: white;
    background-color: #FF8A5B;
    z-index: 2;
    position: absolute;
    top: 100%;
    font-size: 24px;
    width: 50vw;
    height: 5vh;
}

@media (max-width: 600px) {
    button {
        bottom: 5%;
        left: 5%;
    }
}

.articles {
    font-size: 32px;
    margin-top: 90%;
    text-align: center;
}

.row {
    margin-left: 350px;
    margin-top: 2%;
    margin-left: 255;
    display: flex;
}

.column {
    flex: 33.33%;
    /* padding: 5px; */
}

img.article_img_mandelbulb:hover,
img.article_img_mandelbulb:focus,
img.article_img_mandelbrot:hover,
img.article_img_mandelbrot:focus,
img.article_img_julia:hover,
img.article_img_julia:focus,
img.article_img_newton:hover,
img.article_img_newton:focus {
    height: 500px;
    width: auto;
}

.glcanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    display: block;
    width: 80%;
}

footer {
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EFC69B;
    text-align: center;
    height: 1.5%;
    text-transform: uppercase;
    font-weight: bold;
}

footer a {
    color: #333333;
    text-decoration: none;
    font-size: 19px;
}

footer a:hover {
    color: #ffffff;
    background-color: #202020;
}

#sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2%;
    white-space: nowrap;
    cursor: pointer;
}

#sidebar li {
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
    color: #818181;

}

.contents {
    margin-left: 160px;
    padding-top: 5%;
    padding-left: 1vh;
    word-wrap: break-word;
    font-size: 24px;
}

.example_mandelbulb,
.example_newton {
    display: block;
    margin: 0 auto;
}