/* Font, welcher benutzt wird */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E24;
    color: #ffffff;
}

.navbar a {
    float: left;
    color: #333333;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #202020;
    color: #ffffff;
}

.navbar a.active {
    background-color: #DF9B6D;
    color: #202020;
}

.navbar {
    z-index: 3;
    background-color: #EFC69B;
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
}

nav {
    float: left;
    margin: 0;
    text-align: center;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav>ul>li>a {
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.logo {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}

iframe {
    padding-top: 2.8%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 56.25%;
    pointer-events: none;
}

.introduction {
    font-size: 24px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: inline-block;
    /* margin: 90% 15%; */
}

.intro_paragraph {
    font-size: 24px;
    word-wrap: break-word;
}

.main_img {
    width: 50%;
    max-width: 100%;
    height: auto;
    display: inline-block;
    padding-top: -10%;
    padding-left: 60%;
}

.btn_read_further {
    pointer-events: fill;
    border: none;
    color: white;
    background-color: #FF8A5B;
    padding: 16px 400px;
    font-size: 24px;
    margin-left: 50px;
}

.article {
    font-size: 32px;
    margin-top: -50%;
    text-align: center;
}

.row {
    margin-left: 500px;
    margin-top: 2%;
    margin-left: 255;
    display: flex;
}

.column {
    flex: 33.33%;
    /* padding: 5px; */
}

img.article_img_julia:hover,
img.article_img_julia:focus {
    height: 500px;
    width: auto;
}

img.article_img_sierpinski:hover,
img.article_img_sierpinski:focus {
    height: 500px;
    width: auto;
}

.glcanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    display: block;
    width: 80%;
}

footer {
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EFC69B;
    text-align: center;
    height: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

footer a {
    color: #333333;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
}

footer a:hover {
    color: #ffffff;
    background-color: #202020;
}

.sidebar {
    height: 100%;
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #df9b6d;
    padding-top: 3%;
    padding-left: 4%;
}

.body-text {
    margin-left: 150px;
    font-size: 18px;
}